<div class="row">
  <div *ngIf="event$ | async as event" class="col-6 offset-3">
    <form #eventForm="ngForm" (ngSubmit)="onUpdate(eventForm, event)">
      <div class="form-group">
        <label for="">Name</label>
        <input
          name="name"
          [(ngModel)]="event.name"
          type="text"
          class="form-control"
          pattern=".{8,25}"
          required
        />
        <div
          [hidden]="eventForm.controls.name?.valid"
          class="error-message mt-2"
        >
          The character length should be between 8-25. (example: Father's day)
        </div>
      </div>
      <div class="form-group">
        <label for="">Date</label>
        <input
          name="date"
          [(ngModel)]="event.date"
          type="text"
          class="form-control"
          required
          pattern="^([0-2][0-9]|(3)[0-1])(\/)(((0)[0-9])|((1)[0-2]))(\/)\d{4}$"
        />
        <div
          [hidden]="eventForm.controls.date?.valid"
          class="error-message mt-2"
        >
          Invalid date format. (DD/MM/YYYY)(example: 02/05/1991)
        </div>
      </div>
      <div class="form-group">
        <label for="">Time</label>
        <input
          name="time"
          [(ngModel)]="event.time"
          type="text"
          class="form-control"
          required
          pattern="^[0-2][0-3]:[0-5][0-9]( ?)([AaPp][Mm])$"
        />

        <div
          [hidden]="eventForm.controls.time?.valid"
          class="error-message mt-2"
        >
          Invalid time format. Include AM or PM (example: 11:00 AM)
        </div>
      </div>
      <div class="form-group">
        <label for="">Location</label>
        <input
          name="location"
          [(ngModel)]="event.location"
          type="text"
          class="form-control"
          required
          pattern="^[A-Z].{5,25}"
        />

        <div
          [hidden]="eventForm.controls.location?.valid"
          class="error-message mt-2"
        >
          Invalid location format. Start with an uppercase letter. Provide from
          5 to 25 characters (example: Dawn Road).
        </div>
      </div>

      <button
        [disabled]="eventForm.invalid"
        type="submit"
        class="btn btn-primary btn-block btn-lg"
      >
        <i class="fa fa-save"></i>
      </button>
    </form>
  </div>
</div>
